// colors
$white: #fff;
$black: #000;
$sable: #060606;
$charcoal: #2e1503;
$tangerine: #ffaf6d;
$orange: #ffa500;
$gray: #444444;

//fonts
$ubuntu: 'Ubuntu', sans-serif;
$ubuntu-bold: 700;
$ubuntu-regular: 400;
$poppins: 'Poppins', sans-serif;
$poppons-bold: 700;
$poppins-regular: 400;

//font size
$xxxxx-large: 5rem;
$xxxx-large: 4.5rem;
$xxx-large: 4rem;
$xx-large: 3.5rem;
$x-large: 3rem;
$large: 2rem;
$medium: 1.6rem;
$small: 1.4rem;
$x-small: 1.2rem;

//breakpoints
$sm-movil: 576px;
$md-tablet: 768px;
$lg-laptop: 992px;
$xl-desktop: 1200px;